<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LevelManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LevelManager.Properties.Settings>
            <setting name="Edit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="tempX" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="tempY" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="levX" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="levY" serializeAs="String">
                <value>17</value>
            </setting>
        </LevelManager.Properties.Settings>
    </userSettings>
</configuration>